@import "tailwindcss";

:root {
  --background: #f6fafd; /* Light gray for background */
  --primary: #0b3563; /* Deep magenta for primary elements */
  --accent: #012642; /* Dark teal for highlights */
  --text: #041024; /* Very dark teal for text */
  --secondary: #eef0f1; /* Light gray for secondary elements */
  --font-family-base: 'Poppins', sans-serif;
  --font-size-base: 16px;
  --padding-base: 1rem;
  --border-radius: 0.4rem; /* Consistent with Tailwind's rounded-md */
  --padding-btn: 0.4rem 0.8rem;
}

/* Dark mode variables */
[data-theme="dark"] {
  --background: #020203;   /* Quase preto absoluto */
  --primary: #0b3563;      /* Azul profundo para botões/links */
  --accent: #1e88e5;       /* Azul vivo para destaques */
  --text: #f1f1f1;         /* Cinza quase branco (sem ser branco puro) */
  --secondary: #0b0b16;    /* Preto suave para blocos/cards */
}

